.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 1rem 0;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(120, 120, 120);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header h2 {
  padding-left: 24px;
}

.goBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all 100ms ease-out;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .goBtn:hover {
    transition: all 100ms ease-in;
    scale: 1.25;
  }
}

.goBtn:active {
  filter: hue-rotate(300deg);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgb(90, 90, 90);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: start;
  white-space: nowrap;
}

.text {
  display: flex;
  align-items: center;
  text-transform: lowercase;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5;
}

.soundBtn {
  position: relative;
  padding: 0.5em 1em;
  border: 0;
  border-radius: 2em;
  cursor: pointer;
}

.soundBtn.half {
  background-color: rgb(255, 255, 0, .5);
}

.soundBtn.full {
  background-color: rgb(0, 255, 0, .5);
}
